html,
body {
    padding: 0;
    margin: 0;
    min-width: 1060px;
    font-family: "Arial", sans-serif;
    color: #404040;
    font-size: 18px;
    line-height: 24px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    margin: auto;
    padding: 0 40px;
    width: 980px;
}
.button {
    display: inline-block;
    vertical-align: top;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #00b770;
    border: none;
    cursor: pointer;
}
.main-nav-list,
.footer-social-list,
.subject-theme-list {
    list-style: none;
}
.title {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
}
.strong {
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}
.main-header {
    background-color: #ef9f13;
    background: -webkit-radial-gradient(center, circle cover, #fbe034 7%,#ef9f13 80%);
    padding-top: 55px;
}
.header-nav {
    display: flex;
}
.main-nav {
    padding-left: 119px;
}
.main-nav-list {
    display: flex;
    width: 680px;
    margin: 0;
    padding-top: 28px;
}
.main-nav-item {
    padding-top: 0;
    padding-right: 45px;
}
.header-content {
    height: 617px;
    background-image: url("../img/items.png");
    background-repeat: no-repeat;
    background-position: 104%;
}
.header-slogan {
    width: 490px;
    padding-top: 105px;
}
.header-slogan-text {
    margin: 0;
    padding-top: 36px;
    padding-bottom: 48px;
}
.button-header {
    padding-top: 22px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-left: 77px;
}
.advantages {
    background-color: #efefef;
    position: relative;
}
.advantages-wrapper {
    display: flex;
    justify-content: space-between;
}
.advantages-item {
    width: 301px;
    padding-top: 85px;
    padding-bottom: 72px;
}
.advantages-item-title {
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 28px;
}
.advantages-item:nth-child(1)::before {
    content: "";
    display: block;
    position: absolute;
    top: -12%;
    width: 100px;
    height: 108px;
    background-image: url("../img/icon-back.png");
}
.advantages-item:nth-child(2)::before {
    content: "";
    display: block;
    position: absolute;
    top: -12%;
    width: 100px;
    height: 108px;
    background-image: url("../img/icon-back.png");
}
.advantages-item:nth-child(3)::before {
    content: "";
    display: block;
    position: absolute;
    top: -12%;
    width: 100px;
    height: 108px;
    background-image: url("../img/icon-back.png");
}
.advantages-item:nth-child(1)::after {
    content: "";
    display: block;
    position: absolute;
    top: -1%;
    left: 18%;
    width: 100px;
    height: 108px;
    background-image: url("../img/icon-adv-1.png");
    background-repeat: no-repeat;
}
.advantages-item:nth-child(2)::after {
    content: "";
    display: block;
    position: absolute;
    top: -1%;
    left: 41%;
    width: 100px;
    height: 108px;
    background-image: url("../img/icon-adv-2.png");
    background-repeat: no-repeat;
}
.advantages-item:nth-child(3)::after {
    content: "";
    display: block;
    position: absolute;
    top: -1%;
    left: 65%;
    width: 100px;
    height: 108px;
    background-image: url("../img/icon-adv-3.png");
    background-repeat: no-repeat;
}
.reviews {
    position: relative;
    padding-top: 95px;
    padding-bottom: 65px;
}
.reviews-switch {
    display: flex;
    position: absolute;
    top: 110px;
    right: 5%;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.review {
    display: flex;
    flex-direction: column;
}
.students-review {
    display: flex;
    padding-top: 45px;
}
.student-info {
    padding-left: 170px;
    padding-right: 55px;
    position: relative;
}
.student-info-group {
    margin: 0;
    padding-top: 7px;
    font-size: 16px;
    line-height: 24px;
}
.student-info::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/student-portrait.png");
    background-repeat: no-repeat;
    width: 133px;
    height: 133px;
}
.review-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    padding-top: 30px;
    padding-right: 5px;
}
.student-review {
    position: relative;
}
.student-review::before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: -45px;
    background-image: url("../img/quotes-open.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 20px;
}
.student-review::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 35px;
    right: 0px;
    background-image: url("../img/quotes-close.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 20px;
}
.reviews input[type=radio] {
    opacity: 0;
    position: absolute;
}
.switch-controls {
    padding-left: 30px;
}
.switch-controls label {
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 6px;
    margin: 10px 1px;
    background-color: #00b770;
    border-radius: 50%;
    vertical-align: top;
}
.feedback {
    background-color: #efefef;
}
.feedback-title {
    margin: auto;
    padding: 95px 40px 0px;
    width: 980px;
}
.feedback-container {
    position: relative;
    padding-top: 75px;
    padding-bottom: 82px;
}
.feedback-instruction {
    position: absolute;
    top: 70px;
    right: 0;
    width: 300px;
}
.feedback-form {
    width: 640px;
    display: flex;
}
.inputs {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.labels {
    display: flex;
    flex-direction: column;
}
.labels label {
    padding-top: 27px;
    padding-bottom: 15px;
}
.form-input-name {
    width: 440px;
    height: 50px;
    padding-left: 20px;
    border: 2px solid #a7a7a7;
    margin-bottom: 19px;
}
.form-input-age {
    width: 440px;
    height: 50px;
    padding-left: 20px;
    border: 2px solid #a7a7a7;
    margin-bottom: 25px;
}
.input-sexm {
    margin-left: 30px;
    margin-right: 8px;
}
.textarea {
    margin-top: 25px;
    margin-bottom: 23px;
    width: 440px;
    height: 88px;
    border: 2px solid #a7a7a7;
    padding-left: 20px;
    padding-top: 15px;
}
.feedback-button {
    width: 467px;
    padding-top: 26px;
    padding-bottom: 23px;
}
.main-footer {
    background-color: #1f2022;
    color: #ffffff;
}
.footer-links {
  color: #ffcc00;
}
.footer-links:hover,
.footer-links:focus {
  text-decoration: underline;
}
.footer-links:active {
  opacity: 0.3;
  text-decoration: none;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 93px;
    padding-bottom: 70px;
}
.footer-address {
  width: 255px;
  display: flex;
  flex-direction: column;
}
.apluslogo-footer {
  padding-bottom: 80px;
}
.study {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.students {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.application {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-bottom {
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;
}
.footer-social-list {
  display: flex;
}
.social-vk {
  background-image: url("../img/vk-logo.png");
  background-repeat: no-repeat;
  padding-right: 20px;
}
.social-vk:hover,
.social-vk:focus {
  background-image: url("../img/vk-logo-hover.png")
}
.social-vk:active {
  background-image: url("../img/vk-logo-active.png");
}
.social-fb {
  background-image: url("../img/fb-logo.png");
  background-repeat: no-repeat;
  padding-right: 10px;
}
.social-fb:hover,
.social-fb:focus {
  background-image: url("../img/fb-logo-hover.png");
}
.social-fb:active {
  background-image: url("../img/fb-logo-active.png");
}
.social-tw {
  background-image: url("../img/twitter-logo.png");
  background-repeat: no-repeat;
}
.social-tw:hover,
.social-tw:focus {
  background-image: url("../img/twitter-logo-hover.png");
}
.social-tw:active {
  background-image: url("../img/twitter-logo-active.png");
}
.social {
  width: 40px;
  height: 40px;
  display: block;
}
